body {

    background-image: url(../imagens/portasol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(252, 248, 4);
    text-align: center;

}
 
