body {

    background-image: url(../imagens/portasol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: hsl(0, 0%, 100%);
    text-align: center;

}

a {
    color: rgb(255, 12, 12);
    display: inline-block;
    font-size: 1.2em;
    font-weight: 600;
}





